









.fit-picture {
  position: relative;
  width: 50%;
}

.fit-picture2 {
  position: relative;
  width: 30%;
}
/* 尝试表格样式fyx*/
.head-table {
  width: 60%;
  margin: 0 auto;
  border-collapse: collapse;
  position: relative; /* 添加相对定位，用于定位伪元素 */
  }
  .head-table th{
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: solid;
    padding: 3px;
    text-align: center;
  }
  .head-table td {
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    padding: 3px;
    text-align: center;
  }
  .head-table th[scope='col'] {
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: none;
  }
      /* 设置每一列的宽度 */
  .head-table td:nth-child(1),
  .head-table th:nth-child(1) {
  width: 25%;
  }

  .middle1-table {
    width: 60%;
    margin: 0 auto;
    border-collapse: collapse;
    position: relative; /* 添加相对定位，用于定位伪元素 */
    } 
    .middle1-table th,
    .middle1-table td {
      border-top-style: none;
      border-right-style: none;
      border-bottom-style: none;
      border-left-style: none;
      width: 20%;
      padding: 6px;
      text-align: center;
    }
    .middle1-table th[scope='col'] {
      border-top-style: none;
      border-right-style: solid;
      border-bottom-style: none;
      border-left-style: none;
    }
    .middle1-table th[scope='one'] {
      border-top-style: none;
      border-right-style: solid;
      border-bottom-style: solid;
      border-left-style: none;
    }
    .middle1-table td[scope='row'] {
      border-top-style: none;
      border-right-style: none;
      border-bottom-style: solid;
      border-left-style: none;
    }

    
        /* 设置每一列的宽度 */
    .middle1-table td:nth-child(1),
    .middle1-table th:nth-child(1) {
    width: 25%;
    }
  



/*有删减*/
 
 /* 表格样式2 */
 .my-table2 {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  position: relative; /* 添加相对定位，用于定位伪元素 */
}

.my-table2::before,
.my-table2::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: black; /* 加粗的边框线颜色 */
}

.my-table2::before {
  top: 0;
}

.my-table2::after {
  bottom: 0;
}

.my-table2 th{
  padding: 6px;
  text-align: center;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: none;
}
.my-table2 th[scope='row'] {
  border-top-style: none;
  
  border-bottom-style: solid;
  border-left-style: none;
}

.my-table2 th[scope='top'] {
  border-top-style: solid;
  
  border-bottom-style: none;
  border-left-style: none;
}

.my-table2 td[scope='row'] {
  border-top-style: none;
  
  border-bottom-style: solid;
  border-left-style: none;
}
.my-table2 td[scope='rol'] {
  border-top-style: none;
  
  border-bottom-style: none;
  border-left-style: solid;
}
.my-table2 td {
  padding: 6px;
  text-align: center;
}

.my-table2 th:first-child,
.my-table2 td:first-child {
  text-align: center;
}

.my-table2 thead tr {
  border-bottom: 3px solid black; /* 添加表头底部边框 */
}

.my-table2 tr:first-child td {
  border-top: 2 solid black;
  border-bottom: 2px solid black;
}

.my-table2 th[rowspan] {
  border-bottom: 3px solid black;
}


/* 设置每一列的宽度 */
.my-table2 td:nth-child(1),
.my-table2 th:nth-child(1) {
  width: 20%;

}




.my-table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  position: relative; /* 添加相对定位，用于定位伪元素 */
  }
  
  .my-table::before,
  .my-table::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: black; /* 加粗的边框线颜色 */
  }
  
  .my-table::before {
  top: 0;
  }
  
  .my-table::after {
  bottom: 0;
  }
  
  .my-table th,
  .my-table td {
  padding: 6px;
  text-align: center;
  }
  
  .my-table th:first-child,
  .my-table td:first-child {
  text-align: center;
  }

  .my-table thead tr {
      border-bottom: 1.5px solid black; /* 添加表头底部边框 */
    }
  
  
  
  .my-table tr :nth-child(2),
  .my-table td :nth-child(2) {
  border-left: 1.5px solid black;
  }
  
  /* 设置每一列的宽度 */
  .my-table td:nth-child(1),
  .my-table th:nth-child(1) {
  width: 25%;
  }


/* 表头居中 */
.table-name1 {
    text-align: center;
  }
/* 表头居中 */
.table-name {
  font-weight: bold;
  text-align: left;
}

  .spacer {
    height: 10px; /* 设置空白元素的高度 */
  }



  .head-table3 {
    width: 80%;
    margin: 0 auto;
    
    border-collapse: collapse;
    position: relative; /* 添加相对定位，用于定位伪元素 */
    }
    .head-table3 th{
      border-top-style: solid;
      border-right-style: none;
      border-bottom-style: solid;
      border-left-style: solid;
      width: 16.7%;
      padding: 1px;
      text-align: center;
    }
    .head-table3 td {
      border-top-style: solid;
      border-right-style: none;
      border-bottom-style: solid;
      border-left-style: none;
      padding: 3px;
      text-align: center;
    }
    .head-table3 th[scope='col'] {
      border-top-style: none;
      border-right-style: solid;
      border-bottom-style: none;
      border-left-style: none;
    }
        /* 设置每一列的宽度 */
    .head-table3 td:nth-child(1),
    .head-table3 th:nth-child(1) {
    width: 25%;
    }

.middle3-table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  position: relative; /* 添加相对定位，用于定位伪元素 */
  } 
  .middle3-table th,
  .middle3-table td {
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    width: 15%;
    padding: 3px;
    text-align: center;
  }
  .middle3-table th[scope='col'] {
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: none;
  }
  .middle3-table th[scope='one'] {
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: none;
  }
  .middle3-table td[scope='row'] {
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
  }

  
      /* 设置每一列的宽度 */
  .middle3-table td:nth-child(1),
  .middle3-table th:nth-child(1) {
  width: 25%;
  }


/* 表格样式3 wav存放 */
.audio-wrapper {
  display: flex;
  align-items: center;
}

.audio-text {
  /* margin-right: 10px; */
  margin: 0 auto;
}

table {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

table th,
table td {
  
  text-align: center;
}


/* 表头居中 */
.table-name {
    text-align: center;
    font-size: 18px;
    line-height: 1.8;
  }

/* 设置段落样式 */
p {
  font-size: 22px;
  font-family: Arial, sans-serif;
  line-height: 1.8;
}
